USE [Esercizio1]
GO
/****** Object:  Table [dbo].[Cantiere]    Script Date: 11/17/2025 3:00:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantiere](
	[IdCantiere] [uniqueidentifier] NOT NULL,
	[DenominazioneCantiere] [nvarchar](100) NOT NULL,
	[Indirizzo] [nvarchar](100) NOT NULL,
	[Citta] [nvarchar](50) NOT NULL,
	[Cap] [char](10) NOT NULL,
	[PersonaRiferimento] [nvarchar](100) NOT NULL,
	[DataInizioLavori] [date] NOT NULL,
	[DataFineLavori] [date] NULL,
	[LavoriTerminatiSI_NO] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/17/2025 3:00:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[DataNascita] [date] NOT NULL,
	[Sesso] [char](1) NULL,
	[CF] [char](16) NOT NULL,
	[PartitaIva] [char](20) NULL,
	[Attivo] [bit] NOT NULL,
	[Saldo] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operaio]    Script Date: 11/17/2025 3:00:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operaio](
	[IdDipendente] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[CF] [char](16) NOT NULL,
	[FigliACarico] [int] NOT NULL,
	[Sposato] [bit] NOT NULL,
	[LivelloLavorativo] [nvarchar](100) NOT NULL,
	[DescrizioneMansione] [nvarchar](400) NULL,
	[Salario] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
